# development files
.vscode/
.gitattributes
.gitignore
tsconfig.json

# source files
src/
out/src/**
**/*.map

# documentation
docs/

# dependencies
node_modules/
bun.lock
tsconfig.tsbuildinfo

# Musi files
**/*.ms
